<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">
<div class="pt-3 border-top">
  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-5 py-2 my-auto">
        <div class="mb-5 text-center flex-center">
          <!-- Twitter -->
          <a class="social" href="https://twitter.com/hdscalecollab" target="_blank">
            <i class="fa-brands fa-twitter fa-2xl mr-3"> </i>
          </a>
          <!-- youtube_channel -->
          <a class="social" href="https://www.youtube.com/channel/UC_EwQ6jKguvgAiAKDk6ZJzw" target="_blank">
            <i class="fa-brands fa-youtube fa-2xl mr-3"></i>
          </a>
          <!-- Github -->
          <a class="social" href="https://github.com/hdscalecollab/" target="_blank">
            <i class="fa-brands fa-github fa-2xl mr-3"> </i>
          </a>
        </div>
      </div>

      <div class="col-md-7 py-2 mx-auto">
                    <!-- Links -->
            <h6>Contact Us</h6>
            <hr>
            <div class="text-wrap row">
              <div class="col-1">
                <i class="fas fa-home"></i>
              </div>
              <div class="col-11"><p>Beckman Research Institute, City of Hope <br>1500 E Duarte Rd, Duarte, CA 91010 </p></div>
            </div>
            <p><i class="fas fa-envelope mr-3"></i>HDScaleCollab@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i>(626) 256-4673  </p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    </div>
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <!-- <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/"> MDBootstrap.com</a>
  </div> -->
  <!-- Copyright -->

</footer>
<!-- Footer -->
