<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <!-- <div class="jumbotron jumbotron-fluid bg-opacity-10" style="background-image: url('/assets/img/jumb_background.png');height: 400px;"> -->
    <div class="jumbotron jumbotron-fluid jumbotron-HDS">
      <div class="container my-auto text-center">
        <h2 class="display-3">Health Data at Scale Collaboratory (@HDScaleCollab)</h2>
        <p class="lead">Working to connect health data and knowledge across scales 🌎</p>
      </div>
    </div>

    <!-- <div class="py-5">
      <div class="container page-content">
          {{ content }}
      </div>
    </div> -->

    {%- include footer.html -%}

  </body>

</html>
